layer:

module:

package:

file:

class:
    implementation

file.name contains "Usecase"
class.name contains "Controller"

method:
    name

rule:
    check:

class extends "Connection.class" endsWith "Connection"
class assignableTo "EntityManager.class" resideInPackage "..persistence."

class in "com.myapp.(*).." should freeOfCycles


