layer("onion")
    domainModel("")
    domainService("")
    applicationService("")
    adapter("com.phodal.com", "blalba")

module::package.len should <= 20;

class::name contains "Controller"
class("..myapp..")::method::name should contains("")
class implementation "Connection.class" should endsWith "Connection";
class extends "Connection.class" endsWith "Connection";
class assignable "EntityManager.class" resideIn package("..persistence.");
class("com.myapp.(*)..") should freeOfCycles;

file("..myapp.(**)") not dependOn;
file("..service..") only accessed(["..controller..", "..service.."]);
file::name contains "Usecase"

package("..home..") file.len should < 20;

class::name.len should < 20;
method::name.len should < 30;


